.transactions-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 60%;
	overflow: scroll;
	.transactions-card {
		width: 50%;
		border-radius: 10px;
		background-color: #fff;
		.transactions-header {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-align: center;
			.transactions-title {
				display: flex;
				justify-content: flex-start;
				width: 50%;
				padding: 0 0 2rem 2rem;
				color: var(--text-color);
			}
			.transactions-show {
				display: flex;
				justify-content: flex-end;
				width: 50%;
				padding: 0 2rem 2rem 0;
				button {
					padding: 1rem 1.5rem;
					background: none;
					border: none;
					font-size: 1rem;
					font-weight: bold;
					color: var(--primary-color);
					cursor: pointer;
				}
			}
		}
		.transactions-content {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			.loading-container {
				width: 10rem;
				height: 10rem;
			}
		}
		.balance-content {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			padding: 2rem;
			.unit {
				padding-left: 0.7rem;
			}
			p {
				font-size: 2rem;
				padding: 0.5rem 0;
			}
			span {
				padding: 0 0.2rem;
			}
		}
		.balance-buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				text-decoration: none;
			}
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.5rem;
				width: 5.5rem;
				height: 3rem;
				margin-right: 0.4rem;
				border-radius: 10px;
				text-align: center;
				&:hover .icon {
					fill: #fff;
				}
				span {
					padding-left: 0.3rem;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.transactions-container {
		margin-top: 2rem;
		.transactions-card {
			width: 90%;
		}
	}
}
