.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem 4rem;
	button {
		width: 10rem;
		padding: 0.5rem 1rem;
		margin: 0.5rem;
		text-align: center;
		font-size: 1rem;
		cursor: pointer;
	}
	.delete-btn {
		border: none;
		border-radius: 5px;
		background-color: firebrick;
		color: #fff;
	}
}
