.message {
	padding: 1rem;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.nice-win {
	color: var(--primary-color);
}

.super-win {
	color: royalblue;
}

.mega-win {
	color: orange;
}

.super-mega-win {
	color: goldenrod;
}
