.transactions-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	.transactions-list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-height: 40vh;
		width: 100%;
		overflow: scroll;
		padding-bottom: 1rem;
	}
	.transactions-header {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		.transactions-title {
			display: flex;
			justify-content: flex-start;
			width: 50%;
			padding: 0 0 2rem 2rem;
			color: var(--text-color);
		}
		.transactions-show {
			display: flex;
			justify-content: flex-end;
			width: 50%;
			padding: 0 2rem 2rem 0;
			button {
				padding: 1rem 1.5rem;
				background: none;
				border: none;
				font-size: 1rem;
				font-weight: bold;
				color: var(--primary-color);
				cursor: pointer;
			}
		}
	}
}
