.navbar {
	width: 100%;
	padding: 2rem;
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0 auto;
	}
	a {
		color: #333;
		text-decoration: none;
		margin-right: 20px;
	}
	.logo {
		font-weight: bold;
		color: var(--heading-color);
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		margin-right: auto;
		span {
			color: var(--primary-color);
		}
	}
}

@media (max-width: 600px) {
	.navbar {
		.logo {
			display: none;
		}
	}
}
