.sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 100vh;
	background-color: var(--primary-color);
	.sidebar-content {
		height: 100%;
		width: 100%;
		.user {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 3rem 2rem 1rem;
			text-align: center;
			letter-spacing: 1px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			.balance-content {
				padding: 0.5rem;
				display: flex;
				.add-icon {
					&:hover {
						scale: 1.02;
					}
				}
				.balance {
					padding: 0 0.2rem 2rem 0;
					font-size: 1rem;
				}
			}
			.name {
				padding: 1rem 0 0;
				font-size: 1.2rem;
				font-weight: bold;
			}
			p {
				color: #fff;
			}
		}
		.links {
			width: 100%;
			padding: 3rem;
			ul {
				li {
					padding: 1rem;
					a {
						width: 200%;
						display: flex;
						justify-content: start;
						align-items: center;
						margin-left: 1rem;
						padding: 0.5rem;
						text-align: center;
						text-decoration: none;
						color: #fff;
						img {
							filter: invert(100%);
						}
						span {
							padding: 0 0.5rem;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 600px) {
}
