.items-list {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	right: 0;
	height: 60%;
	width: 20%;
	border-radius: 10px;
	background-color: #fff;
	.item-values {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		width: 100%;
		margin-bottom: 1rem;
		.item-info {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70%;
			margin-bottom: 0.2rem;
			p {
				padding: 0.1rem 0.2rem;
				text-align: center;
			}
		}
	}
}
.rotate {
	transform: rotateY(180deg);
}
.button {
	z-index: 1;
	position: absolute;
	right: 17%;
	padding-top: 1rem;
	border: none;
	background: none;
	font-size: 2rem;
	cursor: pointer;
	// transition: transform 1s linear;
}
