.game-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fff;
	border-radius: 20px;
	width: 29%;
	height: 20%;
	cursor: pointer;
	text-decoration: none;
	color: var(--text-color);
	margin: 0 2rem 2rem 0;
	img {
		width: 100%;
	}
	p {
		padding: 1rem;
		font-size: 1.2rem;
		font-weight: bold;
		margin-top: -1rem;
	}
}
