.sidebar {
	width: 20%;
	min-height: 100%;
	z-index: 1;
	overflow-y: scroll;
	.mobile-sidebar {
		display: none;
		position: fixed;
		width: 15%;
		margin: 1.2rem;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	.sidebar-content {
		background-color: var(--primary-color);
		height: 100%;
		width: 100%;
		.user {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 3rem 2rem 1rem;
			text-align: center;
			letter-spacing: 1px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			.balance-content {
				padding: 0.5rem;
				display: flex;
				.add-icon {
					&:hover {
						scale: 1.02;
					}
				}
				.balance {
					padding: 0 0.2rem 2rem 0;
					font-size: 1rem;
				}
			}
			.name {
				padding: 1rem 0 0;
				font-size: 1.2rem;
				font-weight: bold;
			}
			p {
				color: #fff;
			}
		}
	}
}
@media (max-width: 600px) {
	.sidebar {
		height: 100%;
		position: fixed;
		.mobile-sidebar {
			display: block;
		}
		.sidebar-content {
			position: fixed;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 1200px) {
	.sidebar {
		width: 35%;
	}
}
