.app {
	min-height: 100vh;
	display: flex;
	.container {
		flex-grow: 1;
		padding: 0 0.5rem;
		width: 70%;
		.loading-container {
			width: 15rem;
			height: 15rem;
			margin: 5rem auto;
			border-radius: 50%;
		}
	}
}

@media (max-width: 600px) {
	.app {
		overflow: scroll;
	}
}
